{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block main_content %}
<div>
    <h1> {{ content }}! ✅</h1>
</div>
{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}
