body {
  text-align: center;
  width: 60%;
  margin: auto;
}

#menu-navigation li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}

.nav-item:hover{
  background: #eae6e6
}

#blog-index {
  margin: auto;
  overflow: hidden;
  text-align: left;
}

#blog-index .list-groups {
  flex-direction: unset;
}

#blog-index .list-group-item {
  width: 45%;
  height: 250px;
  overflow: hidden;
  margin: 10px 0 20px 0;
  float: left;
}

#blog-index .list-group-item:nth-child(odd) {
  margin-right: 5%;
}
#blog-index .list-group-item:nth-child(even) {
  margin-left: 5%;
}

#validateError {
  text-align: left;
}