{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
<style>
    table {margin: 0 0 20px; border:1;}
    td {padding: 5px 10px;}
</style>
{% endblock %}

{% block main_content %}
    <form method='post' action="{{ path('blog_insert') }}">
        <table id='frmUpdate'>
            <tr>
                <td>Title blog:</td>
                <td><input type='text' name='title' /></td>
            </tr>
            <tr>
                <td>Short desription:</td>
                <td><textarea name='shortDescription'></textarea></td>
            </tr>
            <tr>
                <td>Content:</td>
                <td><textarea name='content'></textarea></td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>
                    <select name='status'>
                        <option value='0'>0</option>
                        <option value='1'>1</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>
                <select name='categoryId'>
                    {% for category in listCategories %}
                            <option value="{{ category['id'] }}">{{ category['name']}}</option>
                    {% endfor %}
                </select>
                </td>
            </tr>
            <tr>
                <td>Image:</td>
                <td>
                    <input type='file' name='featureImage' />
                </td>
            </tr>
            <tr>
                <td><button>Submit</button></td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}