{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
<style>
    table {margin: 0 0 20px; border:1;}
    td {padding: 5px 10px;}
</style>
{% endblock %}

{% block main_content %}

{% if errors is defined %}
  <div id='validateError' class="alert alert-danger" role="alert">
  {% for error in errors %}
      {{ error }} <br />
  {% endfor %}
  </div>
{% endif %}

<div id='blog-index'>
    <form method='post' action="{{ path('blog_insert') }}" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Title blog:</label>
        <input type="text" class="form-control" id="title" name='title' placeholder="Enter title">
      </div>
      <div class="form-group">
        <label for="shortDescription">Short desription:</label>
        <textarea class="form-control" id="shortDescription" name="shortDescription" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control" id="content" name="content" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" name="status">
          <option value='0'>0</option>
          <option value='1'>1</option>
        </select>
      </div>
      <div class="form-group">
        <label for="categoryId">Category</label>
        <select class="form-control" id="categoryId" name="categoryId">
            {% for category in listCategories %}
                    <option value="{{ category['id'] }}">{{ category['name']}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="featureImage">Blog image</label>
        <input type="file" class="form-control-file" id="featureImage" name="featureImage">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}