<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}admin_security_login_title{% endtrans %}{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css" >
    </head>
    <body>
      <div id='security-login'>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="checkbox mb-3">You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            {% endif %}

            <div class="form-group">
              <label for="username">{% trans %}admin_security_login_label_username{% endtrans %}</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="{% trans %}admin_security_login_text_username_placeholder{% endtrans %}" required autofocus>
            </div>

            <div class="form-group">
              <label for="username">{% trans %}admin_security_login_label_password{% endtrans %}</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <button type="submit" class="btn btn-primary">{% trans %}admin_security_login_button_signin{% endtrans %}</button>
        </form>
      </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>